{% extends 'base/padre.html' %}
{% load static  %}
{% block titulo %}
Iniciar Sesión
{% endblock titulo %}
{% block css %}
   <link rel="stylesheet" href="{% static 'Styles/diseño2.css' %}">
{% endblock css %}

{% block contenido %}
<main id="fondo_sesion"  class="form-signin text-center" >
    <form action="{% url 'mostrar_iniciar_sesion' %}" method="POST">
        {% csrf_token %}
        <section class="tama container">
        <h1 class="text-center">Iniciar Sesión</h1>
            <article class="row">
                <fieldset class="offset-md-1 col-10">
                    <label for="{{ formulario_sesion.usuario.id_for_label }}">{{ formulario_sesion.usuario.label }}</label>
                    {{ formulario_sesion.usuario }}
                    <p class="feedback-invalid">
                        {{ formulario_sesion.usuario.errors }}
                    </p>
                </fieldset>
                <fieldset class="offset-md-1 col-10">
                    <label for="{{ formulario_sesion.contra.id_for_label }}">{{ formulario_sesion.contra.label }}</label>
                    {{ formulario_sesion.contra }}
                    <p class="feedback-invalid">
                        {{ formulario_sesion.contra.errors }}
                    </p>
                </fieldset>
                <hr>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="w-100 btn btn-success">Iniciar Sesión</button>
                </div>
            </article>
        </section>
    </form>
</main>
{% endblock contenido %}