{% extends 'base/padre.html' %}
{% load static  %}
{% block titulo %}
Mantenciones
{% endblock titulo %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Styles/diseño_historial.css' %}">
{% endblock css %}


{% block contenido %}
<br>
<br>

<h1>Historial de Mantenimiento de Usuarios</h1>
    
   
    <table>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Tipo de Mantenimiento</th>
        </tr>
        <!-- Aquí irán las filas con los datos del historial -->
        <tr>
            <td 1 >2023-05-01</td>
            <td 2>Cambio de aceite</td>
            <td 3>Preventivo</td>
        </tr>
        <br>
        <tr>
            <td 1>2023-05-15</td>
            <td 2>Reemplazo de frenos</td>
            <td 3>Correctivo</td>
        </tr>
    </table>



<br>
<br>
<br>
<br>


{% endblock contenido %}

