{% extends 'base/padre.html' %}
{% load static  %}
{% block titulo %}
Formulario de contacto
{% endblock titulo %}

{% block contenido %}

<main class="">

  <div class="container p-3">
    <h1 class="display-4">Política de privacidad de Masterbikes</h1>
      <p class="lead">
        Fecha de entrada en vigencia: 20 de Mayo, 2023
      </p>
    <article id="ContenidoPrincipal">
      <ul class="list-unstyled">
        <li>1. Introducción
<ul>
<li>En MasterBikes, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta política de privacidad describe cómo
<br>recopilamos, utilizamos y protegemos la información personal que nos proporciona al utilizar nuestro sitio web.</li>
</ul>
<br>
</li>



        <li>2. Información que recopilamos
<ul>
<li>Recopilamos información personal que nos proporciona directamente, como su nombre, dirección de correo electrónico, dirección postal y número de teléfono. También podemos recopilar información sobre su uso de nuestro sitio web, como su dirección IP, tipo de navegador, páginas visitadas y tiempo de visita.</li>
</ul>
<br>
</li>

        <li>3. Uso de la información
<ul>
<li>Utilizamos la información que recopilamos para proporcionarle nuestros servicios y mejorar su experiencia en nuestro sitio web. También podemos utilizar su información para enviarle correos electrónicos promocionales y de marketing, siempre y cuando haya dado su consentimiento para recibirlos.</li>
</ul>
<br>
</li>

        <li>4. Compartir información
<ul>
<li>No compartimos su información personal con terceros, excepto cuando sea necesario para proporcionarle nuestros servicios o cumplir con la ley.</li>
</ul>
<br>
</li>

        <li>5. Seguridad de la información
<ul>
<li>Tomamos medidas de seguridad razonables para proteger su información personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción.</li>
</ul>
<br>
</li>

        <li>6. Cookies
<ul>
<li>Utilizamos cookies para mejorar su experiencia en nuestro sitio web y recopilar información sobre su uso del mismo. Puede optar por no aceptar cookies en su navegador, pero esto puede afectar su experiencia en nuestro sitio web.</li>
</ul>
<br>
</li>

        <li>7. Enlaces a otros sitios web
<ul>
<li>Nuestro sitio web puede contener enlaces a otros sitios web. No somos responsables de las prácticas de privacidad de estos sitios web y le recomendamos que revise sus políticas de privacidad antes de proporcionarles información personal.</li>
</ul>
<br>
</li>

        <li>8. Cambios en la política de privacidad
      <ul>
      <li>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Le notificaremos de cualquier cambio importante en nuestra política de privacidad enviándole un correo electrónico o publicando un aviso en nuestro sitio web.</li>
      </ul>
      <br>
      </li>

         <li>9. Derechos de privacidad de California
      <ul>
      <li>Si es residente de California, tiene derecho a solicitar información sobre cómo compartimos su información personal con terceros con fines de marketing directo. Para hacer una solicitud, envíenos un correo electrónico a privacidad@masterbikes.com.</li>
      </ul>
      <br>
      </li>

         <li>10. Contacto
      <ul>
      <li>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en ponerse en contacto con nosotros a través de nuestro correo electrónico de soporte: soporte@masterbikes.com.</li>
      </ul>
      <br>
      </li>

         <li>11. Consentimiento
      <ul>
      <li>Al utilizar nuestro sitio web, acepta nuestra política de privacidad y nos da su consentimiento para recopilar, utilizar y proteger su información personal de acuerdo con esta política.</li>
      </ul>
      <br>
      </li>


            </ul>




    </article>
  </div>




</main>


{% endblock contenido %}