{% extends 'base/padre.html' %}
{% block titulo %}
Registro
{% endblock titulo %}
{% block contenido %}
<main id="body1" class="form-signin w-100 m-auto text-center" class="container">
    <article class="tama row">
        <h1>Registrarse</h1>
        <form action="{% url 'registrar_nuevo' %}" method="POST" class="col-md-6">
            {% csrf_token %}
            {{ registro }}
            <button class="w-100 btn btn-lg btn-primary" role="submit" type="submit">Registrarse</button>
        </form>
    </article>
</main>
{% endblock contenido %}