{% extends 'base/padre.html' %}
{% load static  %}
{% block titulo %}
Vendedor
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/vendedor.css' %}">
{% endblock css %}


{% block contenido %}
<main id="main">
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregar">
  Agregar Producto
</button>
<a class="btn btn-success" href="{% url 'Vendedor' %}">Recargar</a>

<!-- Modal -->
<div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">
        <form method="POST" action="{% url 'Agregar' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <section class="row">
            <fieldset class="col-12">
                <label>Nombre de Producto:</label>
                {{ form.nombre_producto }}
            </fieldset>
          </section>
          <section class="row">
            <fieldset class="col-12">
                <label>Descripcion de Producto:</label>
                {{ form.descripcion_producto }}
            </fieldset>
          </section>
          <section class="row">
            <fieldset class="col-12">
                <label>Precio de Producto:</label>
                {{ form.precio_producto }}
            </fieldset>
          </section>
          <section class="row">
            <fieldset class="col-12">
                <label>Stock de Producto:</label>
                {{ form.stock_producto }}
            </fieldset>
          </section>
          <section class="row">
            <fieldset class="col-12">
                <label>Imagen de Producto:</label>
                {{ form.imagen_producto }}
            </fieldset>
          </section>
          <hr>
          <button type="submit" class="w-100 btn btn-success">Agregar Producto</button>
          <p>(presione una vez "agregar producto" para abrir formulario)</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<hr>
<section class="text-center">
    <form  method="POST" action="{% url 'BuscarProducto' %}">
      {% csrf_token %}
      <div class="form-group row">
        <fieldset class="col-6">
            <label class="text-center">Nombre</label>
            <input  class="form-control " name="nombre_producto" id="nombre_producto" aria-describedby="emailHelp">
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="col-6">
          <button type="submit" class=" w-100 btn btn-primary">Fitrar</button>
        </fieldset>
      </div>
    </form>  
</section>
<hr>
<section>
  <article>
    <table class="table table-striped" id="listaproductos" >
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
          {% for g in productos %}
          <tr>
            <td>{{ g.id }}</td>
            <td>{{ g.nombre_producto}}</td>
            <td>{{ g.descripcion_producto }}</td>
            <td>${{ g.precio_producto }}</td>
            <td>{{ g.stock_producto }}</td>
            <td>
              <img src="{{ g.imagen_producto.url }}" height="100">
            </td>
            <td><a type="button" class="btn btn-secondary" href="{% url 'Modificar' g.id %}">Modificar</a></td>
            <td><a id="confirmar_eliminar" onclick="return confirm('¿Estás seguro que deseas eliminar el producto del carrito?');" type="button" class="btn btn-secondary" href="{% url 'Eliminar' g.id %}" >Eliminar</a></td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </article>
</section>

</main>



{% endblock contenido %}


