{% extends 'base/padre.html' %}
{% load static  %}
{% block titulo %}
Vendedor
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.min.css' %}" >
{% endblock css %}


{% block contenido %}
<br>
<br>
<p SIZE=4>Usted aqui puede encontrar la opcion de agregar nuevos productos a la tienda</p>
<br>
<br>
<a class="btn btn-primary" href="{% url 'AgregarProducto' %}" role="button">Agregar</a>

        <form method="POST" action="{% url 'Filtrar' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="nombre_gato">Nombre</label>
            <input type="text" class="form-control" name="nombre_gato" id="nombre_gato" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-primary">Fitrar</button>
        </form>  

        <table class="table table-striped" id="listagatos" >
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
              {% for p in gatos %}
                  <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nombre_gato }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.precio }}</td>
                    <td>{{ p.stock }}</td>
                    <td>{{ p.imagen }}</td>
                    <td><a href="{% url 'ModificarProducto' p.id %}">Modificar</a></td>
                    <td><a href="{% url 'EliminarProducto' p.id %}">Eliminar</a></td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>


        <button type="button" class="btn btn-primary" id="mostrar" >Mostrar</button>
        <table class="table table-striped" id="categorias" >
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
<br>
<br>


<br>
<br>
<br>
<br>


{% endblock contenido %}

