# Entorno virtual python

entorno
env
.env
.venv
venv
virtual

# Editor de texto

idea
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.nvimlog

# Proyecto

__pycache__/
migrations/

# Archivos de configuración

mbikeSettings.json
