{% load static  %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Fondo_Masterbikes.png' %}">
    <title>
        {% block titulo %}
        {% endblock titulo %}
    </title>
    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">

    {% block css %}
    <link rel="stylesheet" href="{% static 'Styles/diseño.css' %}">
    {% endblock css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg " >
        <div class="container-fluid bg-secondary p-2">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

              <div class="navbar-nav">
                <a class="nav-link text-white" href="{% url 'Principal' %}"><b>Inicio</b></a>
                <a class="nav-link text-white" href="#">Arriendos</a>
                <a class="nav-link text-white" href="#">Reparacion</a>
                <a class="nav-link text-white" href="{% url 'Producto' %}">Productos</a>
              </div>

              

              <div class="navbar-nav position-absolute top-2 end-0">
                <a class="nav-link text-white" href="{% url 'mostrar_registro' %}">Registrarse</a>
                <a class="nav-link text-white" href="{% url 'mostrar_iniciar_sesion' %}">Iniciar Sesion</a>              
                <a class="nav-link text-white" href="{% url 'Mantenciones' %}">Mantenciones</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      

    {% block contenido %}
    {% endblock contenido %}
    <script src="{% static 'boot/js/bootstrap.bundle.min.js' %}"></script>

    {% block js %}
    {% endblock js %}
    
</body>
</html>